.preloader {
  opacity: 1;
  transition: 0.4s;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.4);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  left: 50%;
  top: 50%;
  position: fixed;
  border-radius: 10000px;
  z-index: 99999999;
  animation-name: Preload;
  animation-iteration-count: infinite;
  animation-duration: 0.5s; }
  .preloader.hide {
    opacity: 0;
    transition: 0.4s; }
  .preloader .b {
    border-radius: 10000px;
    position: absolute;
    min-height: 10px;
    margin-left: 10px;
    min-width: 10px;
    background-color: #32AAE2;
    animation-name: Bubble;
    animation-iteration-count: infinite;
    z-index: 999; }
  .preloader .b1 {
    width: 4px;
    height: 4px;
    left: 52px;
    animation-duration: 1.95s; }
  .preloader .b2 {
    width: 17px;
    height: 17px;
    left: 30px;
    animation-duration: 1.3s; }
  .preloader .b3 {
    width: 4px;
    height: 4px;
    left: 50px;
    animation-duration: 0.725s; }
  .preloader .b4 {
    width: 13px;
    height: 13px;
    left: 34px;
    animation-duration: 2.6s; }
  .preloader .b5 {
    width: 16px;
    height: 16px;
    left: 16px;
    animation-duration: 0.78s; }
  .preloader .water_cont {
    position: relative;
    animation-name: Water2;
    animation-iteration-count: infinite;
    animation-duration: 6.5s; }
    .preloader .water_cont .water {
      width: 150px;
      height: 200px;
      position: absolute;
      left: -25px;
      z-index: 1;
      background-color: #32AAE2;
      animation-name: Water;
      animation-iteration-count: infinite;
      animation-duration: 4.5s; }
      .preloader .water_cont .water .w {
        position: absolute;
        float: left;
        width: 30px;
        height: 30px;
        background-color: #32AAE2;
        display: inline-block;
        border-radius: 1000px;
        margin-left: -5px;
        padding: 4px;
        margin-top: -29px; }
      .preloader .water_cont .water .w1 {
        height: 200px;
        margin-top: -6px;
        left: 0px; }
      .preloader .water_cont .water .w2 {
        background-color: #fff;
        left: 30px; }
      .preloader .water_cont .water .w3 {
        height: 200px;
        margin-top: -6px;
        left: 60px; }
      .preloader .water_cont .water .w4 {
        background-color: #fff;
        left: 90px; }
      .preloader .water_cont .water .w5 {
        height: 200px;
        margin-top: -6px;
        left: 120px; }

@-webkit-keyframes Bubble {
  from {
    top: 100%; }
  to {
    top: -30%; } }
@-webkit-keyframes Preload {
  0% {
    box-shadow: 0px 4px 24px rgba(162, 209, 230, 0.7); }
  50% {
    box-shadow: 0px 4px 30px rgba(162, 209, 230, 0.7); }
  100% {
    box-shadow: 0px 4px 24px rgba(162, 209, 230, 0.7); } }
@-webkit-keyframes Water {
  0% {
    left: -25px; }
  50% {
    left: 0px; }
  100% {
    left: -25px; } }
@-webkit-keyframes Water2 {
  0% {
    top: 90%; }
  50% {
    top: 30%; }
  100% {
    top: 90%; } }
@-o-keyframes Bubble {
  from {
    top: 100%; }
  to {
    top: -30%; } }
@-o-keyframes Preload {
  0% {
    box-shadow: 0px 4px 24px rgba(162, 209, 230, 0.7); }
  50% {
    box-shadow: 0px 4px 30px rgba(162, 209, 230, 0.7); }
  100% {
    box-shadow: 0px 4px 24px rgba(162, 209, 230, 0.7); } }
@-o-keyframes Water {
  0% {
    left: -25px; }
  50% {
    left: 0px; }
  100% {
    left: -25px; } }
@-o-keyframes Water2 {
  0% {
    top: 90%; }
  50% {
    top: 30%; }
  100% {
    top: 90%; } }
@-moz-keyframes Bubble {
  from {
    top: 100%; }
  to {
    top: -30%; } }
@-moz-keyframes Preload {
  0% {
    box-shadow: 0px 4px 24px rgba(162, 209, 230, 0.7); }
  50% {
    box-shadow: 0px 4px 30px rgba(162, 209, 230, 0.7); }
  100% {
    box-shadow: 0px 4px 24px rgba(162, 209, 230, 0.7); } }
@-moz-keyframes Water {
  0% {
    left: -25px; }
  50% {
    left: 0px; }
  100% {
    left: -25px; } }
@-moz-keyframes Water2 {
  0% {
    top: 90%; }
  50% {
    top: 30%; }
  100% {
    top: 90%; } }
@keyframes Bubble {
  from {
    top: 100%; }
  to {
    top: -30%; } }
@keyframes Preload {
  0% {
    box-shadow: 0px 4px 24px rgba(162, 209, 230, 0.7); }
  50% {
    box-shadow: 0px 4px 30px rgba(162, 209, 230, 0.7); }
  100% {
    box-shadow: 0px 4px 24px rgba(162, 209, 230, 0.7); } }
@keyframes Water {
  0% {
    left: -25px; }
  50% {
    left: 0px; }
  100% {
    left: -25px; } }
@keyframes Water2 {
  0% {
    top: 90%; }
  50% {
    top: 30%; }
  100% {
    top: 90%; } }

/*# sourceMappingURL=preloader.css.map */
